<script language="JavaScript" type="text/JavaScript">
<!--
	function CLA(CLA) { var MainWindow = window.open (CLA, "_blank","width=500,height=300,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no");}
//-->
</script>
<style type='text/css' media='all'>
  @import url(<{$imgscss}>);
</style>
<div align="center">
<a href="<{$xoops_url}>/modules/adslight/index.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/back_alt.png" border="0" alt="index"/></a>
&nbsp;&nbsp;<img src="<{$xoops_url}>/modules/adslight/images/menu/line_verti.png" border="0" alt="Line"/>&nbsp;&nbsp;
<{if $show_user}>
<a href="<{$show_user_link}>"><img src="<{$xoops_url}>/modules/adslight/images/menu/edit.png" border="0" alt="<{$add_title_menu1}>" title="<{$add_title_menu1}>"/></a>&nbsp;
<{else}>
<a href="<{$xoops_url}>/register.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/edit2.png" border="0" alt="<{$add_title_menu1}>" title="<{$add_title_menu1}>"/></a>&nbsp;
<{/if}>
<{if !$xoops_isuser}>
<a href="<{$xoops_url}>/register.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/newdoc2.png" border="0" alt="<{$add_title_menu2}>" title="<{$add_title_menu2}>"/></a>&nbsp;
<{else}>
<a href="<{$xoops_url}>/modules/adslight/add.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/newdoc.png" border="0" alt="<{$add_title_menu2}>" title="<{$add_title_menu2}>"/></a>&nbsp;
<{/if}>
<{if !$xoops_isuser}>
<a href="<{$xoops_url}>/viewpmsg.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/noacces-mail.png" border="0" alt="<{$add_title_menu8}>" title="<{$add_title_menu8}>"/></a>&nbsp;
<{else}>
<{xoInboxCount assign=pmcount}>
<{if $pmcount}>
<a href="<{$xoops_url}>/viewpmsg.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/unread-mail.png" border="0" alt="<{$add_title_menu7}>" title="<{$add_title_menu7}>"/></a>&nbsp;
<{else}>
<a href="<{$xoops_url}>/viewpmsg.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/read-mail.png" border="0" alt="<{$add_title_menu6}>" title="<{$add_title_menu6}>"/></a>&nbsp;
<{/if}>
<{/if}>
<{if !$xoops_isuser}>
<a href="<{$xoops_url}>/register.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/status_offline.png" border="0" alt="<{$add_title_menu9}>" title="<{$add_title_menu9}>"/></a>&nbsp;
<{else}>
<a href="<{$xoops_url}>/user.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/status_online.png" border="0" alt="<{$add_title_menu10}>" title="<{$add_title_menu10}>"/></a>&nbsp;
<{/if}>
&nbsp;&nbsp;<img src="<{$xoops_url}>/modules/adslight/images/menu/line_verti.png" border="0" alt="Line"/>&nbsp;&nbsp;
<a href="<{$xoops_url}>/modules/adslight/tips_writing_ad.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/info.png" border="0" title="<{$add_title_menu4}>"/></a>&nbsp;
<a href="<{$xoops_url}>/modules/adslight/maps.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/search.png" border="0" alt="<{$add_title_menu5}>" title="<{$add_title_menu5}>"/></a>&nbsp;
<a href="#"><img src="<{$xoops_url}>/modules/adslight/images/menu/rss_alt.png" alt="Rss" border="0"/></a>
<{if $xoops_isadmin}>
&nbsp;&nbsp;<img src="<{$xoops_url}>/modules/adslight/images/menu/line_verti.png" border="0" alt="Line"/>&nbsp;&nbsp;
<a href="<{$xoops_url}>/modules/adslight/admin/index.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/advanced.png" alt="Admin" title="Admin AdsLight" border="0"/></a>
<{/if}>
</div>
<table cellspacing="1" class="outer" style="width:100%;">
  <tr>
    <th><{$add_from_title}><{$add_from_sitename}></th>
  </tr>
  <{if $moderated}>
	  <{if $xoops_isadmin}>
	  <tr>
	    <td align="center" class="even">
	    <table class="outer" cellspacing="0">
		  <tr>
		    <td class="head" align="center"><{$admin_block}></td>
		  </tr>
		  <tr>
		    <td class="odd" align="center"><{$confirm_ads}></td>
		  </tr>
	   </table>
	   </td>	
	  </tr>
	  <{/if}>
  <{/if}>
<tr>
  	<td class="even" align="center">
			<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
<table class="bullinfo">
<tr>
<td class="bullinfotext"><{$total_listing}><br /><{$add_listing}></td>
</tr>
</table>
</td>
<td><table width="122" border="0" cellspacing="0" cellpadding="0">
<tr>
<form name='search' id='search' action='search.php' method='post' onsubmit='return xoopsFormValidate_search();'>
	<input type='hidden' name='mids[]' value='<{$xmid}>' />
	   <td colspan="2"><b><{$search_listings}></b><br /><br /></td>
	</tr>
	<tr>
		<td colspan="2"><input type='text' name='query' id='query' size='30' maxlength='255' value='' /><br /><br /></td>
	</tr>
	<tr>
		<td><select  size='1' name='andor' id='andor'>
					<option value='AND' selected='selected'><{$all_words}></option>
					<option value='OR'><{$any_words}></option>
					<option value='exact'><{$exact_match}></option>
					</select></td>
		<td><input type='submit' class='formButton' name='submit'  id='submit' value='<{$search}>' /></td></tr>
<input type='hidden' name='action' id='action' value='results' />
</form>
</tr>	
</table></td>
</tr>
</table>
</td></tr>
</table><br /><br />
<script type='text/javascript'>
<!--
function xoopsFormValidate_search(){}
//-->
</script>
    
<table border="0" cellspacing="0" cellpadding="0" align="center">
	<td colspan="2" valign="top"></td>
	<tr>
		<{foreach item=category from=$categories}>
	<td valign="top">
<{if $category.image != ""}>
<{$category.image}>
<{/if}>
<br /><br />
		</td>
		<td valign="top">
			<div align="left">
				<a class="catlist" href="<{$xoops_url}>/modules/adslight/viewcats.php?cid=<{$category.id}>"><b>
						<{$category.title}>
					</b></a>
				<{$category.new}>
				<br/>
				<{$category.subcategories}>
			</div>
		</td>
		<{if $category.count is div by 2}>
	</tr>
	<tr>
		<{/if}>
		<{/foreach}>
	</tr>
</table><br />
<table class="even" cellspacing='5' cellpadding='0' align="center">
	</td></tr>
</table>
<table border="0" cellspacing="1" class="outer" style="width:100%;">
	<tr>
		<th>
			<{$last_head}>
		</th>
	</tr>
	<tr>
		<td style="padding:0;">
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
				<tr>
					<td class="head"></td>
					<td class="head">
					<{$last_head_title}>
					</td>
					<td width="80" align="left" class="head">
					<{$last_head_local}>
					</td>
			      </tr>
			</table> 
<{if $use_extra_code == 1}>
<{foreach from=$items item=item name=items}>
<{if $smarty.foreach.items.iteration eq $index_code_place}>
<{if $adslight_use_banner == 1}>
<table><tr><td align="center"><{$banner}></td></tr></table>
<{else}>
<table><tr><td align="center"><{$index_extra_code}></td></tr></table>
<{/if}>
<{/if}>   
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">        
				<tr class='<{cycle values="odd,even"}>'>
                    <{if $xoops_isadmin}>
					<td width="20">
					<{$item.admin}>
					</td>
					<{/if}>
					<td width="24" align="right">
					<{if $item.photo}>
					<{$item.photo}>
					<{else}>
					<{$item.no_photo}>
					<{/if}>
					</td>
					<td><b>
					<{$item.title}>&nbsp;
					</b><br />
					<{$item.type}><br />
					<{if $item.price!=""}><b><{$item.price}></b>&nbsp;-&nbsp;<{$item.price_typeprice}>
					<{else}>&nbsp;
					<{/if}><br />
					<{if $item.sold}><{$item.sold}><{/if}>
					</td>
					<td width="80" align="left">
					<{$item.local}>
					</td>
				</tr>
			</table>
	<{/foreach}><{else}>
	<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
			   <{foreach item=item from=$items}>
			   <tr class='<{cycle values="odd,even"}>'>
                    <{if $xoops_isadmin}>
					<td width="20">
					<{$item.admin}>
					</td>
					<{/if}>
					<td width="24" align="right">
					<{if $item.photo}>
					<{$item.photo}>
					<{else}>
					<{$item.no_photo}>
					<{/if}>
					</td>
					<td><b>
					<{$item.title}>&nbsp;
					</b><br />
					<{$item.type}><br />
					<{if $item.price!=""}><b><{$item.price}></b>&nbsp;-&nbsp;<{$item.price_typeprice}>
					<{else}>&nbsp;
					<{/if}><br />
					<{if $item.sold}><{$item.sold}><{/if}>
					</td>
					<td align="center">
					<{$item.local}>
					</td>
				</tr>
				<{/foreach}>
			</table>
	<{/if}>
	    </td>
	</tr>
</table><a href="http://www.i-luc.fr/adslight/"><img src="<{$xoops_url}>/modules/adslight/images/logo_mini.png" alt="<{$adslight_logolink}>" title="<{$adslight_logolink}>" align="right" border="0"></a>
<br /><br />
<{include file='db:system_notification_select.html'}><br />