<script language="JavaScript" type="text/JavaScript">
<!--
	function CLA(CLA) { var MainWindow = window.open (CLA, "_blank","width=500,height=300,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no");}
//-->
</script>
<style type='text/css' media='all'>
  @import url(<{$imgscss}>);
</style>
<div align="center">
<{if $show_user}>
<a href="<{$show_user_link}>"><img src="<{$xoops_url}>/modules/adslight/images/menu/edit.png" border="0" title="<{$add_title_menu1}>"/></a>
<{else}>
<a href="<{$xoops_url}>/register.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/edit2.png" border="0" title="<{$add_title_menu1}>"/></a>
<{/if}>
<{if !$xoops_isuser}>
<a href="<{$xoops_url}>/register.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/newdoc2.png" border="0" title="<{$add_title_menu2}>"/></a>
<{else}>
<a href="<{$xoops_url}>/modules/adslight/add.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/newdoc.png" border="0" title="<{$add_title_menu2}>"/></a>
<{/if}>
<img src="<{$xoops_url}>/modules/adslight/images/menu/line_verti.png" border="0"/>
<a href="<{$xoops_url}>/modules/adslight/tips_writing_ad.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/info.png" border="0" title="<{$add_title_menu4}>"/></a>
<a href="<{$xoops_url}>/modules/adslight/maps.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/search.png" border="0" title="<{$add_title_menu5}>"/></a>
<{if !$xoops_isuser}>
<a href="<{$xoops_url}>/viewpmsg.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/noacces-mail.png" border="0" title="<{$add_title_menu8}>"/></a>
<{else}>
<{xoInboxCount assign=pmcount}>
<{if $pmcount}>
<a href="<{$xoops_url}>/viewpmsg.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/unread-mail.png" border="0" title="<{$add_title_menu7}>"/></a>
<{else}>
<a href="<{$xoops_url}>/viewpmsg.php"><img src="<{$xoops_url}>/modules/adslight/images/menu/read-mail.png" border="0" title="<{$add_title_menu6}>"/></a>
<{/if}>
<{/if}>
</div>
<table cellspacing="1" class="outer" style="width:100%;">
  <tr>
    <th><{$add_from_title}><{$add_from_sitename}></th>
  </tr>
  <{if $moderated}>
	  <{if $xoops_isadmin}>
	  <tr>
	    <td align="center" class="even">
	    <table class="outer" cellspacing="0">
		  <tr>
		    <td class="head" align="center"><{$admin_block}></td>
		  </tr>
		  <tr>
		    <td class="odd" align="center"><{$confirm_ads}></td>
		  </tr>
	   </table>
	   </td>	
	  </tr>
	  <{/if}>
  <{/if}>
<tr>
  	<td class="even" align="center">
			<table border="0" style="width:90%;"><tr>
					<form name='search' id='search' action='search.php' method='post' onsubmit='return xoopsFormValidate_search();'>
					<input type='hidden' name='mids[]' value='<{$xmid}>' />
					<td><b><{$search_listings}></b></td>
					<td><input type='text' name='query' id='query' size='15' maxlength='255' value='' /></td>
					<td><select  size='1' name='andor' id='andor'>
					<option value='AND' selected='selected'><{$all_words}></option>
					<option value='OR'><{$any_words}></option>
					<option value='exact'><{$exact_match}></option>
					</select></td>
					<td><input type='submit' class='formButton' name='submit'  id='submit' value='<{$search}>' /></td></tr>
					<input type='hidden' name='action' id='action' value='results' />
					</form>
				</tr>
			</table>
		</td></tr><tr>
</tr>
</table>
<script type='text/javascript'>
<!--
function xoopsFormValidate_search(){}
//-->
</script>
<div id="xo-block-downloads">
<div class="hideIMG"><{$total_listing}><br /><{$add_listing}></div>
</div>
<br/><br/>   
<table border="0" cellspacing="0" cellpadding="0" align="center">
	<td colspan="2" valign="top"></td>
	<tr>
		<{foreach item=category from=$categories}>
		<td valign="top"><{if $category.image != ""}>
								<{$category.image}>
								<{/if}>
			<br /><br />
		</td>
		<td valign="top">
			<div align="left">
				<a class="catlist" href="<{$xoops_url}>/modules/adslight/viewcats.php?cid=<{$category.id}>"><b>
						<{$category.title}>
					</b></a>
				<{$category.new}>
				<br/>
				<{$category.subcategories}>
			</div>
		</td>
		<{if $category.count is div by 2}>
	</tr>
	<tr>
		<{/if}>
		<{/foreach}>
	</tr>
</table><br />
      <table class="even" cellspacing='5' cellpadding='0' align="center">
	<{if $show_user}>
	<tr>
	<td>	
	</td>
	</tr><{/if}>
	</td></tr>
</table>
<table border="0" cellspacing="1" class="outer" style="width:100%;">
	<tr>
		<th>
			<{$last_head}>
		</th>
	</tr>
	<tr>
		<td style="padding:0;">
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
				<tr>
					<{if $xoops_isadmin}>
					<td class="head"></td>
					<{/if}>
					<td class="head"></td>
					<td class="head">
					<{$last_head_title}>
					</td>
					<td align="center" class="head">
					<{$last_head_local}>
					</td>
			        </tr>
					<{foreach item=item from=$items}>
					<tr class=<{cycle values="odd,even"}>>
                    <{if $xoops_isadmin}>
					<td width="20">
					<{$item.admin}>
					</td>
					<{/if}>
					<td width="24" align="right">
					<{if $item.photo}>
					<{$item.photo}>
					<{else}>
					<{$item.no_photo}>
					<{/if}>
					</td>
					<td><b>
					<{$item.title}>&nbsp;
					</b><br />
					<{$item.type}><br />
					<{if $item.price!=""}><b><{$item.price}></b>&nbsp;-&nbsp;<{$item.price_typeprice}>
					<{else}>&nbsp;
					<{/if}><br />
					<{if $item.sold}><{$item.sold}><{/if}>
					</td>
					<td align="center">
					<{$item.local}>
					</td>
				</tr>
				<{/foreach}>
			</table><br />
			<a href="http://www.i-luc.fr/adslight/"><img src="<{$xoops_url}>/modules/adslight/images/logo_mini.png" alt="<{$adslight_logolink}>" title="<{$adslight_logolink}>" align="right" border="0"></a>
			</td>
	</tr>
</table><br />
<{include file='db:system_notification_select.html'}><br />